<!-- <p>selected-lecturer works!</p> -->

<div class="lecturers-sec">
<div  class="card-wrap">
  <div class="detials-wrap">
    <div class="img-wrap">
      <img class="lecturer-img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
    </div>
    <div class="info-sec">
      <h3 class="name">{{lecturer?.fName}} {{lecturer?.lName}}</h3>
      <p class="phone">{{lecturer?.phone}}</p>
      <p class="email">{{lecturer?.email}}</p>
      <p class="yr-num-span"><span class="yr-num">{{lecturer?.start_date}}</span> Years of experience</p>
    </div>
    </div>
    <div class="btn-wrap">
      <!-- <a routerLink="/selectedLecturer/{{lecturer._id}}">
      <button class="select-btn">Select</button>
    </a> -->
    </div>

</div>
</div>
