<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" routerLink="/">Be-Wise</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lecturers" class="nav-link active" aria-current="page">Lecturers</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a routerLink="/signup" class="nav-link active" aria-current="page">
                            Sign Up
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a routerLink="/login" class="nav-link active" aria-current="page">
                            Login
                        </a>
                    </li>
                    <li  class="nav-item">
                        <button  class="btn btn-link nav-link active" aria-current="page">
                            Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
